/* reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* entire page */

body {
  --heading-font: 'Trebuchet MS', sans-serif;
  --paragraph-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --ui-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --text-color: #222222;
  --text-color-faded: #494744;
  --back-color: #dce0e4;

  --header-text-color: #f9f6f3;
  --header-back-color: #882211;
  --next-button-back-color: #116633;
  --subtle-shadow-color: #00000020;

  --card-head-back-color: #a8a4a0;
  --card-back-color: #f9f6f3;
  --card-foot-back-color: #ece3d8;
  --card-shadow-color: #00183340;

  font-family: var(--paragraph-font);
  color: var(--text-color, black);
  background: var(--back-color, white);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

/* header */

header {
  color: var(--header-text-color, white);
  background-color: var(--header-back-color, maroon);
  text-align: center;
  padding: 5px;
  width: 100%;
}

header h1 {
  font-size: 175%;
}

/* main */

main {
  color: var(--text-color);
  background-color: var(--card-back-color);
  font-size: 110%;
  margin: auto 10px;

  min-width: 30rem;
  max-width: 40rem;
  min-height: 35vh;

  border-radius: 10px;
  box-shadow: 0 0 8px var(--card-shadow-color);

  display: flex;
  flex-direction: column;
}

main > form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

main .intro-text-container {
  flex: 1;
  padding: 20px;
}

main h2 {
  color: var(--text-color-faded);
  padding: 10px;
  text-align: center;
}

main p {
  margin: 15px 5px;
}

main fieldset {
  border: none;
  margin: auto;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 12px;
}

main fieldset .instruction {
  color: var(--text-color-faded)
}

main fieldset .option-item {
  padding-left: 2rem;
}

main fieldset .range-container {
  font-family: var(--ui-font);
  color: var(--text-color-faded);
  font-size: 0.9rem;
  text-align: center;
}

main .button-row {
  background: var(--card-foot-back-color);
  padding: 8px 12px;

  display: flex;
  border-radius: 0 0 10px 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

main button {
  font-family: var(--ui-font);
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid var(--text-color);
  border-radius: 7px;
  cursor: pointer;
}

main button.back-button {
  background: var(--card-back-color);
  border: none;
  box-shadow: 0px 0px 3px var(--subtle-shadow-color);
  margin-right: auto;
}

main button.back-button::before {
  content: "< ";
}

main button.next-button {
  font-weight: bold;
  color: var(--header-text-color);
  background: var(--next-button-back-color);
  border: none;
}

main button.next-button::after {
  content: " >";
}

/* inputs */

input[type=text], input[type=email], select {
  font-family: var(--ui-font);
  font-size: 1rem;
  display: block;
  line-height: 1rem;
  padding: 2px;
  width: 24ch;
}

legend {
  margin-bottom: 5px;
}

fieldset .option-item {
  text-align: left;
}

textarea {
  font-family: var(--ui-font);
  font-size: 1rem;
  display: block;
  width: 28rem;
  min-width: 100%;
  height: 4rem;
  padding: 2px;
  resize: vertical;
}

/* review sections */

section.review-question {
  padding: 10px;
}

section.review-question .question {
  font-family: var(--heading-font);
  font-weight: bold;
  margin: 5px;
}

section.review-question .answer {
  font-family: var(--paragraph-font);
  font-weight: normal;
  margin: 5px;
  margin-left: 3rem;
}

/* footer */

footer {
  font-family: var(--heading-font);
  font-style: italic;
  text-align: center;
  opacity: 0.75;
  width: 100%;
  line-height: 2rem;
}